<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">E-Commerce</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Accueil</a>
      <a class="nav-item nav-link" href="#">Produits</a>
      <a class="nav-item nav-link" href="#">Commandes</a>
      <a class="nav-item nav-link" href="#">A propos</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">
          <i class="fa fa-shopping-cart"></i>
        </a>
      <a class="nav-item nav-link" href="https://github.com/hamidoumamoun/e-commerce" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>